# Sonar Rock vs Mine Prediction

Using kaggle's sonar rock and mine dataset to predict if it is a rock or a mine.

In [1]:
import pyforest

In [2]:
d = pd.read_csv(r'C:\Users\Admin\OneDrive\Desktop\sonar data.csv', header = None)
d.head(2)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.018,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.014,0.0049,0.0052,0.0044,R

Data Pre Processing

In [3]:
d.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

We are checking how many rocks and how many mines examples are there. The [60] calls the column where rock and mine are mentioned.

In [4]:
d[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

We have the mean for every column in mine and rock. If you notice the mean of mine for the 0th column is greater than the mean of the rock for the 0th column. For every column there is quite a difference in the means. Using this we will predict if the object is a mine or a rock.

In [5]:
d.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

Separating data and labels

In [6]:
X = d.drop(columns = 60, axis = 1)
y = d[60]

In [7]:
from sklearn.model_selection import train_test_split

Below the parameters, stratify = y is used to split the data between rocks and mines, so that rocks and mines are equally split in train and test data.

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, stratify=y, random_state=1)

Training the model

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

Evaluating the Model

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [13]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.8433734939759037

In [14]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [15]:
print('Accuracy on testing data : ', testing_data_accuracy)

Accuracy on testing data :  0.6904761904761905

In [16]:
model.score(X_test, y_test)

0.6904761904761905

In [17]:
model.score(X_train, y_train)

0.8433734939759037

Making a predictive system

In [18]:
input_data = (0.0366, 0.0421, 0.0504, 0.025, 0.0596, 0.0252, 0.0958, 0.0991, 0.1419, 0.1847, 0.2222, 0.2648, 0.2508, 0.2291, 0.1555, 0.1863, 0.2387, 0.3345, 0.5233, 0.6684, 0.7766, 0.7928, 0.794, 0.9129, 0.9498, 0.9835, 1, 0.9471, 0.8237, 0.6252, 0.4181, 0.3209, 0.2658, 0.2196, 0.1588, 0.0561, 0.0948, 0.17, 0.1215, 0.1282, 0.0386, 0.1329, 0.2331, 0.2468, 0.196, 0.1985, 0.157, 0.0921, 0.0549, 0.0194, 0.0166, 0.0132, 0.0027, 0.0022, 0.0059, 0.0016, 0.0025, 0.0017, 0.0027, 0.0027)

Changing input_data to a numpy array

In [19]:
input_data_as_numpy_array = np.asanyarray(input_data)

Reshaping the numpy array as we are predicting for one instance. If we don't reshape the array the model will confused with the number of input data points.(1, -1) means that there is one instance and we are going to predict the label for that.

In [20]:
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)
predict = model.predict(input_data_reshaped)
predict

array(['M'], dtype=object)